.bg-cold {
  background: linear-gradient(to right, #006699, #00d77d);
}
.bg-hot {
  background: linear-gradient(to right, #f12711, #f5af19);
}
.bg-cold-morning {
  background: linear-gradient(to right, #7f7fd5, #86a8e7 50%, #91eae4);
}
.bg-nightly-bar {
  background: linear-gradient(to right, #c31432, #240b36);
}
.bg-water-and-fire {
  background: linear-gradient(to right, #659999, #f4791f);
}
.bg-summer-beach {
  background: linear-gradient(to right, #a8ff78, #78ffd6);
}
.bg-red-wine {
  background: linear-gradient(to right, #ed213a, #93291e);
}
.bg-six-am {
  background: linear-gradient(to right, #005aa7, #fffde4);
}
.bg-summer {
  background: linear-gradient(to right, #22c1c3, #fdbb2d);
}
.bg-blue-sky {
  background: linear-gradient(to right, #56ccf2, #2f80ed);
}
.bg-atlantic-dreams {
  background: linear-gradient(to right, #0f3443, #34e89e);
}
.bg-summer-parties {
  background: linear-gradient(to right, #ff6a00, #ee0979);
}
.bg-lemon-icecream {
  background: linear-gradient(to right, #00c3ff, #ffff1c);
}
.bg-nightly-frost {
  background: linear-gradient(to right, #000428, #004e92);
}
.bg-sweet-morning {
  background: linear-gradient(to right, #ff5f6d, #ffc371);
}
.bg-frosty-forest {
  background: linear-gradient(to right, #5a3f37, #2c7744);
}
.bg-girls-and-boys {
  background: linear-gradient(to right, #fc00ff, #00dbde);
}
.bg-matcha {
  background: linear-gradient(to right, #d8fd47, #24fe41);
}
.bg-candyland {
  background: linear-gradient(to right, #d3959b, #bfe6ba);
}
.bg-cherry-blossom {
  background: linear-gradient(to right, #dd5e89, #f7bb97);
}
